.profile-all {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 10rem;
  width: 100%;
}
.nav-profile {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #142f43;
  align-items: center;
  /* height: %; */
}

.name-profile {
  font-family: "Roboto";
  font-size: 2.5rem;
  color: white;
  margin-left: 2rem;
}

.search-write {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  
}
.list-data{
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 15rem;
  margin-left: -5rem;
  background-color: white;
  box-shadow: 0 0 0.5rem #ddd;
  border-radius: 0.5rem;
}
.search-show {
  width: 15rem;
  background-color: white;
  box-shadow: 0 0 0.5rem #ddd;
  border-radius: 0.5rem;

}

#searchprofile {
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0 1rem;
  width: 12rem;
}

#searchprofile:focus {
  outline: none;
}
.search-bar-container {
  /* padding-top: 20vh; */
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
.btn-profile {
  margin-right: 2rem;
}

.btn-prof {
  color: white;
  background-color: white;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 7rem;
  color: black;
  font-size: 1rem;
}

.container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlap-profile {
  height: 18rem;
  background: linear-gradient(to bottom, #9ecdf4, #044a7c);
  width: 100%;
}

.profile-name{
  width: 343px;
}

.user-profile img {
  background: white;
  width: 12rem;
  height: 12rem;
  border: 5px solid #2872aa;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%);
  top: 17rem;
  left: 20%;
}

.top-profile {
  display: flex;
  align-items: center;
  width: 100%;
}

.info-profile {
  margin-top: 1rem;
  margin-left: 28rem;
  font-family: "Poppins";
}

.profile-name {
  margin-top: 0.5rem;
}
.profile-icon {
  margin-top: 0.2rem;
  margin-right: 0.8rem;
}

.location {
  display: flex;
  flex-direction: row;
}
.web {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1100px) {
  .name-profile {
    font-size: 1.5rem;
  }

  .search-write {
    height: 2rem;
    width: 15rem;
  }

  #search {
    height: 2.5rem;
    font-size: 1rem;
    padding: 0 1rem;
    width: 30rem;
  }
  #search:focus {
    outline: none;
  }

  .btn-prof {
    height: 2.5rem;
    width: 7rem;
    border-radius: 0.5rem;
  }

  .user-profile img {
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (max-width: 700px) {
  .name-profile {
    font-size: 1.1rem;
  }

  .search-write {
    height: 1.8rem;
    width: 12rem;
  }

  #search {
    height: 2.5rem;
    font-size: 1rem;
    padding: 0 0.5rem;
  }

  .btn-prof {
    height: 1.8rem;
    margin: 0.2rem 0;
    width: 7rem;
    border-radius: 0.5rem;
  }
  .user-profile img {
    width: 12rem;
    height: 12rem;
  }
}

.question-bar-profile {
  margin: 0 5rem;
}

.profileRight {
  flex: 9;
}

.profileCover {
  height: 30rem;
  position: relative;
  margin-bottom: 15rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.profileCoverImg {
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./plainimage.jpg");
  height: 440px;
  box-shadow: 0px 6px 4px rgba(255, 255, 255, 0.2);
}

.profileUserImg {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 11rem;
  top: 21rem;
  border: 3px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  top: 6rem;

  /* position: absolute; */
  /* top: 6rem;
  left: 37rem; */
}

.profInfoDesc {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  width: 343px;
}

.profileInfoName {
  font-size: 3rem;
  margin: 0.1rem 0;

  /* position: absolute;
  top: -15rem; */
}

.profileInfoDesc {
  font-size: 1.5rem;
  margin: 0.1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .search-main {
    width: 20rem;
  }
  .logo-text {
    font-size: 1.5rem;
  }
  .search-write {
    width: 8rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .search-main {
    width: 8rem;
  }
  .sidebar {
    display: none;
  }
}
