body {
  /* overflow: hidden; */
  color: aliceblue;
}

.main-forgot {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Helvetica";
}

.container-forgot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  color: black;
  border-radius: 1rem;
  overflow-x: hidden;
  height: auto;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(255, 255, 255, 0.3);
}

.text-forgot {
  margin: 1rem;
  margin-bottom: 0;
  color: white;
  font-size: 2rem;
}

.header-forgot {
  margin: 1.5rem;
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg-forgot {
  color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.subtitle-response-forgot {
  margin-bottom: 1.8rem;
  color: red;
}
.msg-forgot-center {
  margin: 0.5rem;
  font-size: 1.1rem;
  width: 15rem;
}

.inputs-forgot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-forgot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  color: white;
}

.button-send {
  margin: 2.5rem;
  color: aliceblue;
}

.back {
  font-size: 1.2rem;
}

.back-back:hover {
  color: aqua;
}

.button-send {
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  border-radius: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-size: 1.3rem;
  background: #000;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

@media screen and (min-width: 400px) and (max-width: 490px) {
  .container-forgot {
    width: 23rem;
  }
  .input-forgot {
    width: 20rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .text-forgot {
    font-size: 1rem;
  }
  .container-forgot {
    width: 19rem;
  }
}
