.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.site-name {
  font-size: 1.2em;
  font-family: "Playfair Display";
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  margin-right: 2rem;
}

.buttons-container.show {
  max-height: 100px; /* Adjust as needed */
}

.button {
  text-decoration: none;
  color: #fff;
  gap: 20px;
  font-family: "Playfair Display";
  /* background-color: #007BFF; */
  /* padding: 10px 15px; */
  margin-left: 10px;
  /* border-radius: 5px; */
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .buttons-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    right: 0;
    /* background-color: #333; */
  }

  .buttons-container.show {
    display: flex;
  }

  .mobile-menu-icon {
    display: block;
    font-size: 1.5em;
  }
}
