/* body {
} */

.main-addQuestion {
  height: 300px;
  background-color: #808080;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  border-radius: 2rem;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
  padding: 2rem;
  padding: 0 5rem;
}
.load{color: black;}
.top-addQuestion {
  display: flex;
  flex-direction: row;
  padding-left: 1.1rem;
  padding-bottom: 0.1rem;
  gap:6px;
  align-items: center;
}

.question {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  padding-left: 1.1rem;
  padding-bottom: 0.8rem;
  padding-right: 1.1rem;
  color: floralwhite;
}

.answer {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-left: 1.1rem;
  padding-bottom: 1rem;
  padding-right: 1.1rem;
}

.responses {
  display: flex;
  flex-direction: row;
  padding-left: 1.1rem;
  gap:15px;
  /* padding-bottom: 1rem; */
}

.name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.avatar{
    font-size: 18px;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #009578;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton',sans-serif;
}

.avatar::after{
    content: attr(data-label);
}