.main{
    display: flex;
    padding: 30px 10px;
    flex: 0.75;
    flex-direction: column;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.main-top{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main-top > h2{
    font-weight: 400;
    font-size: 25px;
    color:rgba(0, 0, 0, 0.8);

}

.button{
    padding: 10px;
    background-color: #000;
    color: #fff;
    /* border: 2px solid #007cd446 ; */
    outline: none;
    cursor: pointer;
}

.main-desc{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size:  1.1rem;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.8);
  padding: 0px 0px 10px 0px;
  margin-top: 10px;
}

.main-filter{
    display: flex;
    align-items: center;
}

.main-tabs{
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin-right:20px;
    border-radius: 3px;
}

.main-tab{
    padding: 5px;

}

.questions{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.question{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    width: 100%;

}


@media screen and (min-width:768px) {
    .main{
        flex:0.6;

    }
    
}