* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #001524;
}



.top-main-admin {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #142F43;
  align-items: center;
}



.image-main-admin {
  color: #3559E0;
  margin: 0 .5rem;
}

.image-side-admin {
  font-size: 5rem;
}

.search-main-admin {
  display: flex;
  align-items: center;
  /* justify-content: center;  */
  height: 2.5rem;
  width: 30rem;
  background-color: white;
  box-shadow: 0 0 .5rem #ddd;
  border-radius: 0.5rem;
  
  margin-right: 5rem;
}

#search {
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0 1rem;
  width: 30rem;
}

#search:focus {
  outline: none;
}


.btn-main-admin {
  align-items: center;
  display: flex;
  gap: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.admin-name{
  display: flex;
  align-items:center;
  margin-right: 2rem;
}


.not-found{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-part-admin{
  height: 100vh;
  overflow-y: scroll;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #535151;
}
/* .logo-text{
  font-family: 'Poppins';
} */


@media screen and (min-width:700px) and (max-width:874px) {
  .search-main-admin{
    width: 16rem;
  }
  #search{
    width: 13rem;
  }
}

@media screen and (min-width:480px) and (max-width:700px) {
  .search-main-admin{
    width: 14rem;
  }
  #search{
    width: 10.5rem;
  }
  .cheack-ans{
    justify-content: center !important;
  }
  .cheack-ans-button{
    margin: 0.5rem;
  }
}

@media screen and (min-width:400px) and (max-width:480px) {
  .search-main-admin{
    width: 10rem;
    /* margin-right: 2rem; */
  }
  #search{
    width: 5.5rem;
  }
  .cheack-ans{
    justify-content: center !important;
  }
  .cheack-ans-button{
    margin: 0.5rem;
  }
  .cheack-ans-button-press{
    width: 5rem !important;
    height: 2rem !important;
  }
  .comment-username-time{
    font-size: 0.6rem !important;
    height: 0.5rem !important;
  }
  .answer{
    margin: 1rem 0rem !important;
    font-size: 1.3rem !important;
    margin-left: 1rem !important;

  }
  .question{
    margin-left: 1rem !important;
    font-size: 20px !important;
    padding: 0.5rem !important;
  }
  .question-que{
    font-size: 20px !important;
    margin-top: 0.5rem !important;
    padding-left: 0rem !important;
    margin-left: 0rem !important;
  }
  .right-side{
    margin-right: 0rem !important;
    margin-top: 0rem !important;
  }
  .comment-userimage{
    min-width: 2rem !important;
    margin: 0.8rem !important;
  }
}

@media screen and (min-width:320px) and (max-width:400px) {
  .search-main-admin{
    width: 10rem;
    /* margin-right: 2rem; */
  }
  #search{
    width: 5.5rem;
  }
  .cheack-ans{
    justify-content: center !important;
    margin-top: 0.5rem;
  }
  .cheack-ans-button{
    margin: 0.5rem !important;
  }
  .cheack-ans-button-press{
    width: 5rem !important;
    height: 2rem !important;
  }
  .comment-username-time{
    font-size: 0.6rem !important;
    height: 0.5rem !important;
  }
  .answer{
    margin: 0.7rem 0rem !important;
    font-size: 1.2rem !important;
    margin-left: 1rem !important;

  }
  .question{
    margin-left: 1rem !important;
    font-size: 20px !important;
    padding: 0.5rem !important;
  }
  .question-que{
    font-size: 20px !important;
    margin-top: 0.5rem !important;
    padding-left: 0rem !important;
    margin-left: 0rem !important;
  }
  .right-side{
    margin-right: 0rem !important;
    margin-top: 0rem !important;
  }
  .comment-userimage{
    min-width: 2rem !important;
    margin: 0.8rem !important;
  }
  .top-title{
    margin: 0rem !important;
    margin-top: 5rem !important;
  }
  .main-addQuestion{
    margin: 0rem !important;
  }
  .search-main-admin{
    display: none;
  }
  .admin-name{
    margin-right: 0rem;
  }
}