.modal-wrapper2 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(92, 100, 112, 0.9);
}

.edit-container {
  background: #001524;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45rem;
  height: auto;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  justify-content: center;
}

.edit-top {
  display: flex;
  margin: 1.2rem;
  gap: 10rem;
}

.edit-color {
  color: white;
  font-size: 1.5rem;
}

.edit-bottom {
  margin: 1rem;
  width: 75%;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.profile-pic img {
  background: white;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
}

.btn-up { 
  background-color: #ffffff;
  border: none;
  color: #04aa6d;
  text-align: center;
  width: 5rem;
  height: auto;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

/* .btn-rm {
  background-color: #ffffff;
  border: none;
  color: #ff0000;
  text-align: center;
  width: 5rem;
  height: auto;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
} */
.container-mng {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  margin-top: 1rem;
}
.edit-info-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.edit-info {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.edit-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.edit-color-name {
  font-size: 1rem;
  margin-left:1rem;
}

.edit-input {
  height: 1.5rem;
  width: 15rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(174, 174, 247);
  color: white;
  background-color: transparent;
  margin: 0 1rem;
  padding: 1rem;
  text-transform: capitalize;

}

.edit-input:focus,
.edit-textarea:focus {
  outline: none;
  border: none;
}

.edit-textarea {
  height: 3.5rem;
  width: 30rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(174, 174, 247);
  color: white;
  background-color: transparent;
  margin: 0 1rem;
  padding: 1rem;
  resize: none;
}


.text {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.edit-color-text {
  font-size: 0.6rem;
  margin: 0 1rem;
}

.input-char-name {
  font-size: 10px;
  margin-left: 4rem;
}

.input-char-bio {
  font-size: 10px;
  margin-left: 13rem;
}

.edit-textarea:focus,
.edit-input:focus {
  border: 0.2rem solid rgb(174, 174, 247);
}

.final-edit {
  gap: 10px;
  display: flex;
  flex-direction: row-reverse;

  margin-top: 30px;
  padding-bottom: 30px;
}

/* .cancel {
  background-color: #ffffff;
  color: #04aa6d;
  border: 0.1rem solid #04aa6d;
  width: 5rem;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
} */
/* .save {
  background-color: #04aa6d;
  color: white;
  width: 5rem;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
} */
