.edit-container {
  background: #001524;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 600px;
  font-family: "Roboto";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  
}


/* #root {
  display: flex;
} */


.edit-top {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 10rem;
  font-family: "Roboto";
}
.edit-bottom {
  margin: 30px;
  width: 75%;
}
.edit-color {
  color: white;
}

.profile-pic {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.profile-pic img {
  background: white;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* border: 5px solid #8e00b9; */
}

.btn-uprm {
  border: none;
}
.edit-info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.edit-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.edit-input{
  border: none;
}
.edit-input:focus{
  border: none;
}

.final-edit {
  flex-direction: row;
  gap: 10px;
  display: flex;
  justify-content: end;
  margin-top: 30px;
  padding-bottom: 30px;
}

.save {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.cancel {
  background-color: #ffffff;
  border: 2px solid #04aa6d;
  color: #04aa6d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

.btn-up {
  background-color: #ffffff;
  border: none;
  color: #04aa6d;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 30px;
}

.btn-rm {
  background-color: #ffffff;
  border: none;
  color: #ff0000;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 30px;
}

.edit-name h5 {
  font-size: 12px;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-char {
  font-size: 12px;
}
.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Adjust the color and opacity as needed */
  backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
  z-index: 998; /* Make sure it's below the modal but above other content */
  display: none;
}

.blur-overlay.show {
  display: block;
}
