* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #001845; */
}

.top-main {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #142f43;
  align-items: center;
}

.logo-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-text {
  font-family: Roboto;
  font-size: 2rem;
  color: white;
  margin-left: 2rem;
}

.image-main {
  color: #3559e0;
  margin: 0 0.5rem;
}

.image-side {
  font-size: 5rem;
}

.search-main {
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 30rem;
  background-color: white;
  box-shadow: 0 0 0.5rem #ddd;
  border-radius: 0.5rem;
}

#search {
  border: none;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0 1rem;
  width: 30rem;
}

#search:focus {
  outline: none;
}

.btn-main {
  align-items: center;
  display: flex;
  gap: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.side-main {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 4rem;
}

.notification-main {
  display: flex;
}

.account-main {
  display: flex;
  padding-left: 10px;
}

.container-question {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #142f43;
  color: white;
  display: flex;
  flex-direction: column;
  border-top: 0.2rem solid white;
}

.sidebar-item {
  padding: 1rem;
  margin: 0 1rem;
  font-family: 'Poppins';
  cursor: pointer;
  &:hover {
    background-color: #142f43;
  }
}

.dropdown-content {
  background-color: #7398b4;
  padding: 10px;
  display: flex;
  width: 12rem;
  flex-direction: column;
  border-radius: 0.5rem;
  span {
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: #555;
    }
  }
}
.main-part {
  width: 100%;
}

.available {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.not-available {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
}

.semaple {
  margin: 8rem 0;
  height: 8rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: 0.9s;
  --uib-color: #bac2cd;
  position: relative;

  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
