body {
    overflow: hidden;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
      color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
    
    
    
    width: 30rem;
    color: black;
    padding-bottom: 1.3rem;
    overflow-x: hidden;
    border-radius: 2rem;

    backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background-color: rgb(255, 255, 255, 0.3);
  }
  
  

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-top: 2rem;

    
}

.text {
    color: #000066;
    font-size: 2.5rem;
    font-weight: 700;
}

.underline {
    width: 3.5rem;
    height: 0.3rem;
    background: #000066;
    border-radius: .6rem;
}

.inputs {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 25rem;
    height: 3.5rem;
    background: #eaeaea;
    border-radius: 2rem;
}
.fa-solid {

    font-size: 1.8rem;
}
.input:hover {
    border: #000066 solid .1rem;
}




i {
    border-radius: 2rem;
    border: #000066 solid 1rem;
    background-color: #000066;
    color: #fff;

}

/* 
.input:hover , i:hover {
    color: #000066;
    box-shadow: 0 0 2.5px 2.5px #eaeaea ;
} */

.input input {
    height: 3.3rem;
    background: #eaeaea;
    border-radius: 2rem;
    width: 25rem;
    
    border: none;
    outline: none;
    color: #797979;
    /* padding: 1.5rem; */
    font-size: 1.2rem;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0  #eaeaea ;
}

.forgot-password {
    padding-left: 3.8rem;
    margin-top: 1.6rem;
    color: #797979;
    font-size: 1.2rem;
}

.forgot-password span {

    color: #000066;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 2rem;
    margin: 3rem auto;
}


.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    color: #fff;
    background: #000066;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;

}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;

    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: 700;


    background: transparent;

    border: none;
    outline: none;
}

.link {
    text-decoration: none;

}

.submit:hover {
    border: #000066 solid .1rem;

}

.next {
    background: #eaeaea;
}

.white {
    color: #fff;
}

.blue {
    color: #000066;
}




/* Small screens (phones, less than 600px) */
@media (max-width: 600px) {
    .container {
        width: 100%;
        margin-top: 5rem;
        /* Adjust top margin as needed */
    }

    .header .text {
        font-size: 2rem;
        /* Adjust font size for smaller screens */
    }

    .inputs {
        margin-top: 2rem;
        /* Adjust spacing */
    }

    .input {
        width: 100%;
    }

    .forgot-password {
        padding-left: 0;
        /* Remove left padding */
        margin-top: 1rem;
        /* Adjust spacing */
        text-align: center;
        /* Center the text */
    }

    .submit-container {
        flex-direction: column;
        /* Stack buttons vertically */
        gap: 1rem;
        /* Adjust spacing */
        margin: 2rem auto;
    }
}

/* Medium screens (tablets, 600px and up) */
@media (min-width: 600px) {
    /* Add styles for tablets here, if needed */
}

/* Large screens (desktops, 900px and up) */
@media (min-width: 900px) {
    /* Add styles for larger screens here, if needed */
}


/* ------------------------------------------------------ */

.newtons-cradle {
    --uib-size: 50px;
    --uib-speed: 1.2s;
    --uib-color: #474554;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
}

.newtons-cradle__dot {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
}

.newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
    /* box-shadow: 0 0 2.5px 2.5px #000066 */
}

.newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
    /* box-shadow: 0 0 2.5px 2.5px #000066 */
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }

    25% {
        transform: rotate(70deg);
        animation-timing-function: ease-in;
    }

    50% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }
}

@keyframes swing2 {
    0% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }

    50% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }

    75% {
        transform: rotate(-70deg);
        animation-timing-function: ease-in;
    }
}