.top-title {
  display: flex;
  flex-direction: row;
  margin: 0 2rem;
  margin-top: 5rem;
  justify-content: space-between;
  background-color: #001c30;
  border-radius: 8px;
  box-shadow: 0 0 0.5rem #ddd;
  margin-bottom: 5px;
}

.left-side {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  width: 100%;
  gap: 6px;
}

.name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}

.avatar {
  font-size: 18px;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #009578;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Anton", sans-serif;
}

.time-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-top: 2px;
}
.name-title-question {
  margin-left: 0.5rem;
}

.right-side {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  height: 5rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
}

.answer-count {
  display: flex;
  justify-content: center;
  color: white;
}

.answer-title {
  color: white;
  font-size: 1.2rem;
}

.votes-count {
  display: flex;
  justify-content: center;
  color: white;
}

.votes-title {
  color: white;
  font-size: 1.2rem;
}

.favourite-count {
  display: flex;
  justify-content: center;
  color: white;
}

.favourite-title {
  color: white;
  font-size: 1.2rem;
}

.avatar::after {
  content: attr(data-label);
}

.main-addQuestion {
  background-color: #001c30;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem;
  box-shadow: 0 0 0.5rem #ddd;
  margin-bottom: 10px;
}

.verified {
  margin: 1rem;
  margin-bottom: 0rem;
  gap: 1rem;
  color: rgb(65, 138, 255);
}

.question {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  color: white;
  padding: 1rem;
  margin-left: 3rem;
}

.question p img {
  /* display: flex;
  justify-content: center; */
  width: 30rem;
  height: 20rem;
  /* max-height: 200px;
  max-width: 200px;  */
}

.question-que {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  padding-left: 1rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.question-hr {
  margin: 0 1rem;
}

.answer {
  font-family: "Arimo", sans-serif;
  font-size: 1.4rem;
  margin: 1rem 3rem;
  margin-top: 2rem;
  margin-right: 1rem;
  /* color: #cfc0c0; */
}

.answer p img {
  /* display: flex;
  justify-content: center; */
  width: 50rem;
  height: 20rem;
  /* max-height: 200px;
  max-width: 200px;  */
}
.answer pre {
  background-color: #0C0C0C;
  border-radius: 0.5rem;
  width: 50rem;
}

.responses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin: 1.5rem;
  gap: 15px;
}

.icon-left {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.likes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.likecount {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-comment {
  background-color: #001c30;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.comment-title {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.input-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  margin-top: 0rem;
  border: 1px white solid;
  padding-left: 2rem;
  color: white;
  width: 100%;
}

.main-comment-in {
  background-color: #001c30;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.button-comment-div {
  display: flex;
}

.button-comment {
  margin: 1rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2rem;
}

.comments-send {
  width: 100%;
  display: flex;
  height: auto;
}

.load {
  color: black;
}

.comment-botttom-list {
  margin: 0.5rem;
  margin-bottom: 0rem;
  margin-right: 0rem;
}

.comment-3 {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.comment-comment-2 {
  padding: 0.5rem 0rem;
  width: 100%;
}

.comment-comment-top {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 1rem;
  justify-content: space-between;
}

.contro-distance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contro-name {
  display: flex;
}
.fix {
  display: flex;
  flex-direction: row;
}
.set-row-data {
  height: auto;
  margin-right: 3rem;
}
.edited-avtar {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.comment-username {
  font-size: 1.3rem;
  font-weight: 700;
}
.comment-subcomment {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  /* width: 60rem; */
}
.comments {
  margin-right: 3rem;
}

.comment-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comment-username-time {
  font-size: 1rem;
  display: flex;
  align-items: center;
  /* margin-left: 1rem; */
  height: 1.5rem;
}

.comment-userimage {
  display: flex;
  align-items: center;
  margin: 1rem;
  justify-content: center;
  min-width: 3rem;
}

.success-message-container {
  position: fixed;
  top: 3.5rem;
  right: 0.5rem;
  z-index: 9999;
  width: 30rem;
}

.edited-by {
  display: flex;
  flex-direction: row-reverse;
  /* margin-right: 3rem; */
  font-size: 1.2rem;
}

.ant-avatar-group {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right:10rem ; */
}

.contro-distance2 {
  display: flex;
  flex-direction: row;
}

.highlighted-word:hover {
  color: green;
  background-color: #aaffaa;
}

@media screen and (min-width: 621px) and (max-width: 768px) {
  .search-main {
    width: 14rem !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 621px) {
  .search-main {
    display: none !important;
  }
  .right-side {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
  }
  .question {
    margin-left: 1rem !important;
  }
  .answer {
    margin: 0rem !important;
    margin-top: 2rem !important;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .sidebar {
    display: none !important;
  }
  .search-main {
    display: none !important;
  }

  .side-main {
    padding-right: 0rem !important;
  }
  .top-title {
    margin: 0rem !important;
    margin-top: 5rem !important;
  }
  .main-addQuestion {
    margin: 0rem !important;
  }

  .answer {
    margin: 0.7rem 0rem !important;
    font-size: 1.2rem !important;
    margin-left: 1rem !important;
  }
  .question {
    margin-left: 0rem !important;
    font-size: 20px !important;
    padding: 0.5rem !important;
  }
  .question-que {
    font-size: 20px !important;
    margin-top: 0.5rem !important;
    padding-left: 0rem !important;
    margin-left: 0rem !important;
  }
  .right-side {
    margin-right: 0rem !important;
    margin-top: 0rem !important;
  }
  .responses {
    margin: 0.5rem !important;
  }
  .comment-userimage {
    min-width: 1rem !important;
    margin: 0.5rem !important;
  }
  .comment-username-time {
    font-size: 0.6rem !important;
    height: 0.5rem !important;
  }
  .logo-text {
    margin-left: 1rem !important;
    font-size: 1.6rem !important;
  }
}
