* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.inputfield {
  display: flex;
  flex-direction: column;
  width: 40rem;
  text-align: center;
  justify-content: center;
}

.bottom-input {
  color: black;
  background-color: #fff;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding-left: 0.5rem;
  width: 7rem;
}
.combo {
  display: flex;
  flex-direction: row;
}
.input-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10rem;
}

.add-item {
  display: flex;
  align-items: center;
}

.connect1 {
  padding: 1rem 0;
  padding-right: 0.5rem;
  padding-left: -0.5rem;
}
.connect {
  display: flex;
  flex-direction: row;
}

.question-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
